<!DOCTYPE html>
<html>
<head>
    <title>Login Form</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="loginApp.js"></script>
</head>
<body ng-app="loginApp" ng-controller="loginController">

    <h2>Login Form</h2>

    <form name="loginForm" ng-submit="submitForm()">
        <div>
            <label>Username:</label>
            <input type="text" name="username" ng-model="user.username" required>
            <span ng-show="loginForm.username.$touched && loginForm.username.$invalid">Username is required.</span>
        </div>

        <div>
            <label>Password:</label>
            <input type="password" name="password" ng-model="user.password" required>
            <span ng-show="loginForm.password.$touched && loginForm.password.$invalid">Password is required.</span>
        </div>

        <div>
            <button type="submit" ng-disabled="loginForm.$invalid">Login</button>
        </div>
    </form>

</body>
</html>
