<!DOCTYPE html>
<html>
<head>
    <title>Student Details and CGPA</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="studentApp" ng-controller="studentController">
    <h2>Student Details</h2>

    <div>
        <button ng-click="countStudents()">Count Students</button>
        <p>Number of Students: {{ studentCount }}</p>
    </div>

    <table border="1">
        <tr>
            <th>Name</th>
            <th>CGPA</th>
        </tr>
        <tr ng-repeat="student in students">
            <td>{{ student.name }}</td>
            <td>{{ student.cgpa }}</td>
        </tr>
    </table>
</body>
</html>
